@import 'utils';

.dps-simul {
  padding: 1rem;

  @include media("<small") {
    width: 100%;
    padding: 0.4rem;
  }

  .dps-simul-title {
    padding-bottom: 1rem;
    border-bottom: 1px solid $oc-gray-3;
    color: $oc-gray-8;

    @include media("<small") {
      padding-bottom: 0.4rem;
      margin-top: 0.2rem;
      margin-bottom: 0.4rem;
      font-size: 1rem;
    }
  }

  .dps-simul-body {
    display: flex;
    display: -ms-flexbox;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;

    .option-select {
      padding-right: 1rem;
      padding-bottom: 1rem;

      .headshot-option {

        .headshot-option-title {
          font-weight: bold;
        }
      }
      .fire-option {
        margin-top: 0.8rem;

        .fire-option-title {
          font-weight: bold;
        }
      }

      .shot-btns {
        text-align: center;
        padding: 1rem;

        button {
          width: 56px;
          height: 50px;
          transition: all .15s ease-in;
          background: white;
          border: 1px solid $oc-gray-3;
          border-radius: 0.2rem;
          cursor: pointer;      
        }
        button:hover {
          color: rgba($oc-blue-6, 0.8);
        }
        button:active {
          color: rgba($oc-blue-6, 1);
        }
        button:focus {
          border: 1px solid $oc-blue-6;
          color: rgba($oc-blue-6, 1);
        }
        button + button {
          margin-left: 0.2rem;
        }
      }
    }

    .dps-info {
      width: 120px;
      text-align: center;

      .hunt-title {
        border-top: 1px solid $oc-gray-4;
        border-left: 1px solid $oc-gray-4;
        border-right: 1px solid $oc-gray-4;
      }

      .hunt-second {
        padding: 0.4rem;
        border: 1px solid $oc-gray-4;
        background: $oc-gray-8;
        font-weight: bold;        
        color:white;
        font-size: 1.2rem;
        margin-bottom: 0.2rem;
      }

      .firecool-title {
        border-top: 1px solid $oc-red-4;
        border-left: 1px solid $oc-red-4;
        border-right: 1px solid $oc-red-4;
      }

      .firecool-second {
        padding: 0.4rem;
        border: 1px solid $oc-red-4;
        background: $oc-red-8;
        font-weight: bold;        
        color:white;
        font-size: 1.2rem;
        margin-bottom: 0.4rem;
      }

      .dmg-list {
        height: 100px;
        border: 1px solid $oc-gray-4;

        .dmg-list-object-head {
          color: $oc-red-9;
          font-weight: bold;
        }
      }
    }

    .monster-view-info {
      width: 400px;
      align-content: center;

      .monster-con {
        height: 30px;
        background: $oc-gray-2;
        width: 100%;
        text-align: center;

        .monster-connum {
          font-weight: bold;
          height: 100%;
          vertical-align: middle;
        }
      }
      .monster-con-cover {
        top: -30px;
        position: relative;
        height: 30px;
        background: $oc-red-9;
        opacity: 0.8;
      }

      .monster-view {
        cursor: pointer;
        width: 150px;
        margin: auto;
        top: -30px;
        position: relative;
      }

      .monster-view:hover {        
        @include material-shadow(1, 1);
        background: $oc-blue-0;
      }
      .monster-view:active {
        @include material-shadow(1, 1);
        background: $oc-blue-1;
      }

      .monster-con-exp {
        display: flex;
        display: -ms-flexbox;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;       

        div {
          div {
            font-weight: bold;
          }
          .monster-con-in {
            color: $oc-red-9;
          }
          .monster-exp-in {
            color: $oc-green-5;
          }
          input {
            padding: 0.2rem;
            height: 30px;
            width: 160px;
          }
        }
      }
    }
  }
}