@import 'utils';

.myspec-inven {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .myspec-adsense {
    @include media("<medium") {
      margin: auto;
    }

    .ad300250 {

      @include media("<small") {
        margin-right: 0.2rem;
        display: none !important;
      }
    }

    .ad72890 {
      display: none !important;

      @include media("<small") {
        margin-right: 0.2rem;
        display: inline-block !important;
      }
    }
  }

  .myspec-body {
    padding: 1rem;

    @include media("<small") {
      width: 100%;
      padding: 0.4rem;
    }

    ul {
      margin: 0;
      margin-bottom: 1rem;
      padding: 0;
      list-style: none;
    }

    .myspec-title {
      padding-bottom: 1rem;
      border-bottom: 1px solid $oc-gray-3;
      color: $oc-gray-8;
    }

    .spec-dv {
      min-width: 400px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .mystat {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    
        input {
          width: 80px;
        }
        div {
          margin-bottom: 0.4rem;
        }
      }

      .parasite-doping {
        display: flex;
        width: 180px;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .parasite {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
        }
        .doping {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
        }
      }
    }
  }
}