@import 'utils';

.myspec-inven {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  .skill-monster {
    padding: 1rem;
    width: 480px;

    @include media("<small") {
      width: 100%;
      padding: 0.4rem;
    }

    .dmg-event-title {
      padding-bottom: 1rem;
      border-bottom: 1px solid $oc-gray-3;
      color: $oc-gray-8;

      @include media("<small") {
        padding-bottom: 0.4rem;
        margin-top: 0.2rem;
        margin-bottom: 0.4rem;
        font-size: 1rem;
      }
    }

    .dmg-event {
      display: flex;
      display: -ms-flexbox;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      padding-bottom: 0.8rem;
    }

    .monster-size-title {
      padding-bottom: 1rem;
      border-bottom: 1px solid $oc-gray-3;
      color: $oc-gray-8;

      @include media("<small") {
        padding-bottom: 0.4rem;
        margin-top: 0.2rem;
        margin-bottom: 0.4rem;
        font-size: 1rem;
      }
    }

    .monster-size {
      display: flex;
      display: -ms-flexbox;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      padding-bottom: 0.8rem;
    }

    .monster-type {
      display: flex;
      display: -ms-flexbox;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      padding-bottom: 0.8rem;
    }

    .mydmg-type {
      display: flex;
      display: -ms-flexbox;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      height: 100px;
      padding-bottom: 0.8rem;
    }

    .my-skill-list {
      display: flex;
      display: -ms-flexbox;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      padding-top: 0.4rem;
      padding-bottom: 0.8rem;
      border-top: 1px solid $oc-gray-4;
    }

    .monster-size + .monster-type {
      padding-top: 0.2rem;
    }
  }

  .myspec-body {
    padding: 1rem;

    @include media("<small") {
      width: 100%;
      padding: 0.4rem;
    }

    ul {
      margin: 0;
      margin-bottom: 1rem;
      padding: 0;
      list-style: none;
    }

    .myspec-title {
      padding-bottom: 1rem;
      border-bottom: 1px solid $oc-gray-3;
      color: $oc-gray-8;

      @include media("<small") {
        padding-bottom: 0.4rem;
        margin-top: 0.2rem;
        margin-bottom: 0.4rem;
        font-size: 1rem;
      }
    }

    .spec-dv {
      min-width: 400px;
      display: flex;
      display: -ms-flexbox;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .mystat {
        display: grid;
        display: -ms-flexbox;
        flex-wrap: wrap;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.4rem;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        // align-items: center;
        // flex-wrap: wrap;
    
        div {
          div {
            font-weight: bold;
          }
          .mystat-con {
            color: $oc-red-9;
          }
          .mystat-skill {
            color: $oc-yellow-5;
          }
          input {
            padding: 0.2rem;
            height: 30px;
            width: 70px;
          }
        }
      }

      .parasite-doping {
        display: flex;
        display: -ms-flexbox;
        width: 180px;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        // .parasite {
        //   display: flex;
        //   display: -ms-flexbox;
        //   justify-content: space-between;
        //   align-items: center;
        //   flex-wrap: wrap;
        // }
        // .doping {
        //   display: flex;
        //   display: -ms-flexbox;
        //   justify-content: space-between;
        //   align-items: center;
        //   flex-wrap: wrap;
        // }
      }
    }

    .adsense-320100 {
      margin-top: 1rem;
    }
  }
}