@import 'utils';

.myinfo-view {
  padding: 1rem;

  @include media("<small") {
    width: 100%;
    padding: 0.4rem;
  }

  .view-title {
    padding-bottom: 1rem;
    border-bottom: 1px solid $oc-gray-3;
    color: $oc-gray-8;

    @include media("<small") {
      padding-bottom: 0.4rem;
      margin-top: 0.2rem;
      margin-bottom: 0.4rem;
      font-size: 1rem;
    }
  }

  .inven-body {
    display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;

    .inven-dmg {
      color: $oc-red-9;
    }

    .inven-cri {
      color: $oc-yellow-6;
    }
  }

  .real-dmg {
    padding-top: 1rem;

    .real-dmg-title {
      padding-bottom: 1rem;
      border-bottom: 1px solid $oc-gray-3;
      color: $oc-gray-8;

      @include media("<small") {
        padding-bottom: 0.4rem;
        margin-top: 0.2rem;
        margin-bottom: 0.4rem;
        font-size: 1rem;
      }
    }

    .real-dmg-body {
      display: flex;
      display: -ms-flexbox;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      font-weight: 420;

      .point {
        display: inline-block;
        text-align: center;
        width: 14px;
      }

      .normar-dmg {
        width: 360px;
        height: 70px;
        padding: 0.6rem;
        color: $oc-gray-6;
      }
      .normar-dmg-fire {
        width: 360px;
        height: 70px;
        padding: 0.6rem;
        color: $oc-gray-8;
      }
      .cri-dmg {
        width: 360px;
        height: 70px;
        padding: 0.6rem;
        color: $oc-yellow-6;
      }
      .cri-dmg-fire {
        width: 360px;
        height: 70px;
        padding: 0.6rem;
        color: $oc-yellow-8;
      }
      .head-dmg {
        width: 360px;
        height: 70px;
        padding: 0.6rem;
        color: $oc-red-6;
      }
      .head-dmg-fire {
        width: 360px;
        height: 70px;
        padding: 0.6rem;
        color: $oc-red-8;
      }
    }
  }
}