@import 'utils';

.myinfo-view {
  padding: 1rem;

  .view-title {
    padding-bottom: 1rem;
    border-bottom: 1px solid $oc-gray-3;
    color: $oc-gray-8;
  }

  .inven-dmg {
    color: $oc-red-9;
    font-weight: bold;
    font-size: 1.6rem;
  }
}