@import 'utils';

.adsense-72890-main {
  margin: 0 auto;
  max-width: 728px;
  height: 90px;
  margin-top: 220px;
  display: block;

  // border: solid 1px black;

  @include media("<medium") {
    display: none;
  }
}