@import 'utils';

.box-simul {
  max-width: 1024px;
  margin: 0 auto;
  // display: flex;
  // justify-content: space-between;
  // align-items: flex-start;
  // flex-wrap: wrap;

  button {
    transition: all .15s ease-in;
    background: white;
    border: 1px solid $oc-gray-3;
    width: 54px;
    height: 30px;
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 0.7rem;
  }
  button:hover {
    color: rgba($oc-blue-6, 0.8);
  }  
  button:focus {
    border: 1px solid $oc-blue-6;
    color: rgba($oc-blue-6, 1);
  }
  button:active {
    border: 1px solid $oc-blue-8;
    color: rgba($oc-blue-8, 1);
  }

  button + button {
    margin-left: 0.1rem;
  }

  .list-wrapper {
    .box-result {
      padding: 1rem;
      min-height: 400px;

      @include media("<small") {
        padding: 0.2rem;
      }

      .box-result-title {
        padding-bottom: 0.6rem;
        border-bottom: 1px solid $oc-gray-2;
        color: $oc-gray-8;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .title-right {
          font-weight: bold;
          color: $oc-red-9;
        }
      }

      .box-result-list {
        display: flex;
        flex-wrap: wrap;

        .result-item-object {
          font-size: 0.8rem;
          padding: 0.4rem;
          border-left: 1px solid $oc-gray-2;
          border-bottom: 1px solid $oc-gray-2;

          .special {
            color: $oc-red-8;
            font-weight: bold;
          }
        }
      }
    }
  }

  .adsense {
    text-align: center;
  }

  .list-wrapper {
    .box-iteminfo {
      padding: 1rem;

      @include media("<small") {
        padding: 0.2rem;
      }
    
      .box-iteminfo-title {
        padding-bottom: 0.6rem;
        border-bottom: 1px solid $oc-gray-2;
        color: $oc-gray-8;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .iteminfo-right {
          width: 284px;
          padding: 0.2rem;
        }
      }
    
      .box-iteminfo-list {
        font-size: 0.8rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        // grid-gap: 0.5rem;

        // @include media("<large") {
        //   grid-template-columns: repeat(2, 1fr);
        // }

        @include media("<medium") {
          grid-template-columns: repeat(2, 1fr);
        }
        // @include media("<small") {
        //   grid-template-columns: repeat(2, 1fr);
        // }

        .box-iteminfo-object {
          cursor: pointer;
          padding: 0.2rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          border-left: 1px solid $oc-gray-2;
          border-bottom: 1px solid $oc-gray-2;
    
          .imgSrc {
            width: 45px;
            height: 32px;
            
            img {
              width: 35px;
              height: 32px;
            }
          }
    
          .itemName{
            flex: 1;
          }

          .sumValue {
            padding-left: 6px;
            width: 44px;
            font-weight: bold;

          }
        }
    
        .box-iteminfo-object:hover {
          cursor: pointer;
          background: rgba($oc-blue-6, 0.05);
        }
    
        // .box-iteminfo-object + .box-iteminfo-object {
        //   border-top: 1px solid $oc-gray-2;
        // }
      }
    }
  }
}
