@import 'utils';

.weapon-where-box-ad {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;

  @include media("<wide") {
    width: 768px;
  }
  @include media("<large") {
    width: 768px;
  }
  @include media("<medium") {
    width: 100%;
  }
  @include media("<small") {
    width: 100%;
    // padding: 0.4rem;
  }

  .ad300250 {
    margin: 0 auto;
    margin-bottom: 0.4rem;
    
    @include media("<small") {
      margin-right: 0.2rem;
      display: none !important;
    }
  }

  .ad72890 {
    display: none !important;

    @include media("<small") {
      margin-right: 0.2rem;
      display: inline-block !important;
    }
  }
}