@import 'utils';

.plusup-simul {

  button {
    transition: all .15s ease-in;
    background: white;
    border: 1px solid $oc-gray-3;
    width: 76px;
    height: 40px;
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 0.7rem;
  }
  button:hover {
    color: rgba($oc-blue-6, 0.8);
  }
  button:focus {
    border: 1px solid $oc-blue-6;
    color: rgba($oc-blue-6, 1);
  }
  button:active {
    color: rgba($oc-blue-8, 1);
    border: 1px solid $oc-blue-8;
  }
  
  button + button {
    margin-left: 0.1rem;
  }
  
  padding: 1rem;

  @include media("<small") {
    width: 100%;
    padding: 0.4rem;
  }

  .kit-trade {

    .kit-trade-title {
      padding-bottom: 0.8em;
      border-bottom: 1px solid $oc-gray-3;
      color: $oc-gray-8;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .kit-trade-right {
        width: 414px;
        padding: 0.2rem;
      }
    }

    .plusup-notice {
      padding: 1rem;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
      padding: 1rem;
      @include material-shadow(1, 1);

      @include media("<small") {
        width: 100%;
        padding-top: 0.4rem;
      }

      .notice-left {
        font-weight: bold;
      }

      .notice-center {
        text-align: center;
        width: 324px;
        padding-top: 1rem;
        padding-bottom: 1rem;

        .notice-center-top {
          height: 22px;
          font-weight: bold;
          color: $oc-blue-6;
        }
      }
    }

    .kit-trade-body {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
      padding: 1rem;

      @include media("<small") {
        width: 100%;
        padding-top: 0.4rem;
      }

      .kit-use {        
        width: 340px;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .kit-use-normal {
          text-align: center;
          padding: 1rem;

          img {
            padding: 0.6rem;
          }
        }
        .kit-use-f {
          text-align: center;
          padding: 1rem;

          img {
            padding: 0.6rem;
          }
        }
        .kit-use-normal:hover {
          cursor: pointer;
          @include material-shadow(1, 1);
          background: $oc-blue-0;
        }
        .kit-use-f:hover {
          cursor: pointer;
          @include material-shadow(1, 1);
          background: $oc-blue-0;
        }
        .kit-use-normal:active {
          background: $oc-blue-1;
        }
        .kit-use-f:active {
          background: $oc-blue-1;
        }
      }

      .plusup-body {
        width: 257px;
        height: 314px;
        background: url('/resource/img/plusupbody.gif');
        font-weight: 410;
        font-size: 0.8rem;
        
        .plusup-grade {
          position: relative;
          display: inline-block;
          top: 138px;
          left: 26px;
          color: $oc-yellow-2;
          
        }

        .plusup-dmg {
          position: relative;
          display: inline-block;
          top: 169px;
          left: -21px;
          color: $oc-red-7;
        }
      }
    }
  }

  .plus-luck-notice {
    .luck-title {
      padding-bottom: 0.8em;
      border-bottom: 1px solid $oc-gray-3;
      color: $oc-gray-8;     
    }

    .luck-list {
      padding: 1rem;

      @include media("<small") {
        width: 100%;
        padding-top: 0.4rem;
      }

      display: grid;
      grid-gap: 0.4rem;
      grid-template-columns: repeat(6, 1fr);

      @include media("<medium") {
        grid-gap: 0.2rem;
        grid-template-columns: repeat(3, 1fr);
      }

      .luck-object {
        padding: 0.4rem;
      }

      .luck-object:hover {
        cursor: pointer;
        @include material-shadow(1, 1);
        background: $oc-blue-0;       
      }
      .luck-object:active {
        cursor: pointer;
        @include material-shadow(1, 1);
        background: $oc-blue-0;       
      }
    }
  }

  .adsense {
    text-align: center;
  }
}