@import 'utils';

.wherebox-adsense {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 0 auto;

  .adsense-300250 {
    display: block;

    @include media("<small") {
      display: none;
    }
  }

  .adsense-320100 {
    display: none;

    @include media("<small") {
      display: block;
    }
  }

  .weapon-where-box {
    border: 1px solid $oc-gray-2;    
    background: white;
    flex: 1;
    min-width: 412px;
  
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
  
    // @include media("<wide") {
    //   width: 768px;
    // }
    // @include media("<large") {
    //   width: 768px;
    // }
    // @include media("<medium") {
    //   width: 100%;
    // }
    @include media("<small") {
      width: 100%;
      padding: 0.4rem;
    }
  
    display: grid;
    display: -ms-flexbox;
    flex-wrap: wrap;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.4rem;
    
    .cl-where {
      // .clyn {
      display: grid;
      display: -ms-flexbox;
      flex-wrap: wrap;
      grid-template-columns: repeat(6, 1fr);
      -ms-grid-columns: 50px 10px 50px 10px 50px;
      -ms-grid-rows: 100px;
      grid-gap: 0.5rem;
  
      @include media("<large") {
        grid-template-columns: repeat(4, 1fr);
      }
      // }
    }
  
    .weapon-illegal-where {
      .illegal{
        display: grid;
        display: -ms-flexbox;
        flex-wrap: wrap;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 0.5rem;
  
        @include media("<large") {
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }
  
    .weapon-type-where {
      display: grid;
      display: -ms-flexbox;
      flex-wrap: wrap;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 0.5rem;
  
      .weapon-type1 {
        display: grid;
        display: -ms-flexbox;
        flex-wrap: wrap;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 0.5rem;
  
        @include media("<large") {
          grid-template-columns: repeat(4, 1fr);
        }
      }
  
      .weapon-type2 {
        display: grid;
        display: -ms-flexbox;
        flex-wrap: wrap;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 0.5rem;
  
        @include media("<large") {
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }
  
    .grade-where {
      display: grid;
      display: -ms-flexbox;
      flex-wrap: wrap;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 0.5rem;
  
      @include media("<large") {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}
