@import 'utils';

.wherebox-adsense {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 0.2rem;

  .weapon-where-box {
    border: 1px solid $oc-gray-2;    
    background: white;
    flex: 1;
    min-width: 412px;
  
    padding: 1rem;
  
    // @include media("<wide") {
    //   width: 768px;
    // }
    // @include media("<large") {
    //   width: 768px;
    // }
    // @include media("<medium") {
    //   width: 100%;
    // }
    @include media("<small") {
      width: 100%;
      padding: 0.4rem;
    }
  
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.4rem;
    
    .cl-where {
      // .clyn {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 0.5rem;
  
      @include media("<large") {
        grid-template-columns: repeat(4, 1fr);
      }
      // }
    }
  
    .weapon-illegal-where {
      .illegal{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 0.5rem;
  
        @include media("<large") {
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }
  
    .weapon-type-where {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 0.5rem;
  
      .weapon-type1 {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 0.5rem;
  
        @include media("<large") {
          grid-template-columns: repeat(4, 1fr);
        }
      }
  
      .weapon-type2 {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 0.5rem;
  
        @include media("<large") {
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }
  
    .grade-where {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 0.5rem;
  
      @include media("<large") {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}
