@import 'utils';

.footer {
  background: $oc-gray-0;
  height: 3rem;

  // 내부 내용 중앙 정렬
  display: flex;
  display: -ms-flexbox;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 0.2rem;

  font-weight: bold;
  color: $oc-gray-9;

  div a {
    color: $oc-blue-6;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }
}