@import 'utils';

.header {
  // 가운데 고정
  position: fixed;
  width: 100%;
  left: 50%;
  z-index: 1000;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  // background-color: white;
  
  
  @include material-shadow(1, 0.8);
  .header-content {
    background-color: $oc-violet-9;
    
    .header-content-body{
      height: 4rem;    
      width: 1400px;
      margin: 0 auto; // 중앙 정렬
      padding-left: 3rem;
      padding-right: 3rem;
      // 내부 아이템 세로 중앙 정렬
      display: flex;
      display: -ms-flexbox;
      align-items: center;
      justify-content: space-between;
      
      // 반응형 레이아웃
      @include media("<wide") {
        width: 100%;
      }
      @include media("<medium") {
        padding-left: 1rem;
        padding-right: 1rem;
      }

      .brand {
        // 로고
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
        width: 110px;
      }

      .right {
        // 우측 내용
        // margin-left: auto;
        color: white;
        display: flex;
        display: -ms-flexbox;
        align-items: center;
        align-content: flex-end;
        text-align: right;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 300px;

        .total-search {
          margin-left: auto;
          padding-right: 0.4rem;
          vertical-align: middle;

          .total-search-input {
            border-radius: 0.2rem;
            border: 1px solid $oc-gray-4;
            margin-top: 0.2rem;
            padding: 0.3rem;
            font-size: 0.7rem;
          }
        }

        .search-img {
          position: relative;
          top: 10px;
          left: 10px;
        }

        .arrow-outstyle {
          width: auto;
          height: 20px;
          margin-left: 3px;

          .arrow-style {
            position: relative;
            top: -2px;
            width: 6px;
            height: 6px;
            background-color: $oc-violet-9;
            display: inline-block;
            transform: rotate(45deg) scale(1);
            border-right: 2px solid white;
            border-bottom: 2px solid white;
          }
        }

        .item-submenu {
          z-index: 1001;
          position: absolute;
          top: auto;
          width: 6rem;
          border-radius: 0.2rem;
          background-color: $oc-violet-9;
          text-align: left;
          @include material-shadow(2, 2);
          line-height: 1.6rem;
          -webkit-transition: all 0.1s;
          -moz-transition: all 0.1s;
          -ms-transition: all 0.1s;
          -o-transition: all 0.1s;
          transition: all 0.1s;

          max-height: 0px;
          overflow: hidden;
        }

        .item-submenu:hover {
          // border: 1px solid $oc-gray-4;
          padding: 0.4rem;
          padding-top: 0.4rem;
          max-height: 300px;
        }
        .item-submenu:active {
          // border: 1px solid $oc-gray-4;
          padding: 0.4rem;
          padding-top: 0.4rem;
          max-height: 300px;
        }
        .itemmenu-tit:hover ~ .item-submenu { 
          // border: 1px solid $oc-gray-4;
          padding: 0.4rem;
          padding-top: 0.4rem;
          max-height: 300px;
    // opacity: 1;
        }
      }
    }
  }

  .header-content-sub {
    background-color: $oc-violet-9;

    .header-content-sub-body {
      height: 2rem;    
      width: 1400px;
      margin: 0 auto; // 중앙 정렬
      padding-left: 3rem;
      padding-right: 3rem;
      // 내부 아이템 세로 중앙 정렬
      display: flex;
      display: -ms-flexbox;
      align-items: center;
      justify-content: space-between;
      
      // 반응형 레이아웃
      @include media("<wide") {
        width: 100%;
      }
      @include media("<medium") {
        padding-left: 1rem;
        padding-right: 1rem;
      }

      .submenu-title {
        width: 300px;
        padding: 0.2rem;
        color: white;
        cursor: pointer;
      }
    }
  }
}