@import 'utils';

.weapon-view {
  padding: 1rem;

  @include media("<small") {
    width: 100%;
    padding: 0.4rem;
  }
  
  .name {
    padding-bottom: 1rem;
    border-bottom: 1px solid $oc-gray-3;
    color: $oc-blue-6;

    a {
      color: $oc-gray-8;
    }
  }

  .item-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
        
    .img {
      width: 95px;
      height: 95px;        
      background-color: white;
      border: 1px solid $oc-gray-3;
      border-radius: 0.4em;
      padding: 2px;
      margin-right: 1rem;
  
      img {
        width: 90px;
        height: 90px;        
      }
    }

    .option {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      font-weight: bold;
      height: 80px;
      min-width: 100px;

      .dmg {
        color: $oc-red-9;
      }
      .cri {
        color: $oc-yellow-5;
      }
      .body_nm0 {
        color: $oc-gray-9;
      }
      .body_nm1 {
        color: $oc-green-6;
      }
      .body_nm2 {
        color: goldenrod;
      }
      .body_nm3 {
        color: $oc-pink-6;
      }
      .body_nm4 {
        color: gold;
      }
      .body_nm5 {
        color: $oc-blue-5;
      }
      .body_nm6 {
        // color: $oc-red-6;
        background: $oc-red-9;
        color: white;
      }
    }

    .sub_option {
      min-width: 300px;
      margin-left: auto;
      display: flex;
      justify-content: space-between;
      padding-top: 0.5rem;

      .tier {
        width: 60px;
        text-align: center;
      }
      .detail_dv {
        width: 60px;
        text-align: center;
      }
      .size {
        width: 60px;
        text-align: center;
      }
      .speed {
        width: 60px;
        text-align: center;
      }

      .accuracy_rate {
        width: 60px;
        text-align: center;
      }

      .point_rate {
        width: 60px;
        text-align: center;
      }

      .illegal {
        width: 60px;
        text-align: center;
      }

      div + div {
        border-left: 1px solid $oc-gray-3;
      }
    }
  }  
}