@import 'utils';

.weapon-view {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 0.2rem;

  @include media("<small") {
    width: 100%;
    padding: 0.2rem;
  }
  
  .name {
    padding-bottom: 0.8rem;
    border-bottom: 1px solid $oc-gray-3;
    color: $oc-blue-6;
    font-size: 1rem;
    margin-top: 0px;
    margin-bottom: 0.4rem;

    .weapon-change-txt {
      float: right;
      border: 1px solid $oc-green-6;
      padding-right: 0.4em;
      padding-left: 0.4em;
      padding-top: 0.2em;
      padding-bottom: 0.2em;
      color: white;
      background: $oc-green-5;
      border-radius: 0.2em;
      font-size: 1.0rem;

      @include media("<small") {
        font-size: 0.8rem;
      }
    }

    .weapon-change-txt:hover {
      background: $oc-green-6;
    }
    .weapon-change-txt:active {
      background: $oc-green-7;
    }

    .weapon-dmgsim-txt {
      float: right;
      border: 1px solid $oc-red-6;
      padding-right: 0.4em;
      padding-left: 0.4em;
      padding-top: 0.2em;
      padding-bottom: 0.2em;
      color: white;
      background: $oc-red-5;
      border-radius: 0.2em;
      font-size: 1.0rem;

      @include media("<small") {
        font-size: 0.8rem;
      }
    }

    .weapon-dmgsim-txt:hover {
      background: $oc-red-6;
    }
    .weapon-dmgsim-txt:active {
      background: $oc-red-7;
    }

    .weapon-change-txt + .weapon-dmgsim-txt {
      margin-right: 0.2rem;
    }
  }

  .item-info {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    flex-wrap: wrap;
        
    .img {
      width: 74px;
      height: 74px;        
      background-color: white;
      border: 1px solid $oc-gray-3;
      border-radius: 0.4em;
      padding: 2px;
      margin-right: 1rem;
  
      img {
        width: 68px;
        height: 68px;        
      }
    }

    .option {
      display: flex;
      display: -ms-flexbox;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      font-weight: bold;
      height: 64px;
      min-width: 100px;

      .dmg {
        color: $oc-red-9;
      }
      .cri {
        color: $oc-yellow-5;
      }
      .body_nm0 {
        color: $oc-gray-9;
      }
      .body_nm1 {
        color: $oc-green-6;
      }
      .body_nm2 {
        color: goldenrod;
      }
      .body_nm3 {
        color: $oc-pink-6;
      }
      .body_nm4 {
        color: gold;
      }
      .body_nm5 {
        color: $oc-blue-5;
      }
      .body_nm6 {
        // color: $oc-red-6;
        background: $oc-red-9;
        color: white;
      }
    }

    .sub_option {
      height: 64px;
      min-width: 100px;
      text-align: left;
      margin-left: auto;
      display: flex;
      display: -ms-flexbox;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      // padding-top: 0.5rem;

      .tier {
        // width: 60px;
        // text-align: center;
      }
      div {
        .size {
          // width: 60px;
          // text-align: center;
          margin-right: 0.2rem;
          padding-right: 0.2rem;
          border-right: 1px solid $oc-gray-3;
        }
        .detail_dv {
          // width: 60px;
          // text-align: center;
        }
      }
      
      div {
        .speed {
          // width: 60px;
          // text-align: center;
          margin-right: 0.2rem;
          padding-right: 0.2rem;
          border-right: 1px solid $oc-gray-3;
        }
        .illegal {
          // width: 60px;
          // text-align: center;
        }
      }
      

      // div + div {
      //   border-left: 1px solid $oc-gray-3;
      // }
    }
  }  
}