@import 'utils';

.init {
  padding: 0.4rem;
  text-align: left;

  a button {
    border: none;
  }
}

.best-weapon {
  padding: 0.2rem;

  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: flex-start;

  .best {
    width: 330px;

    @include media("<medium") {
      width: 100%;
    }

    .title {
      border-bottom: 1px solid $oc-gray-3;
      color: $oc-gray-8;
      font-size: 1rem;
      margin-top: 0.2rem;
      margin-bottom: 0.4rem;
      
      background-color: $oc-violet-8;
      padding: 0.4rem;
      font-weight: bold;
      color: white;
    }

    .list {
      .object {
        a {
          cursor: pointer;
          padding-top: 12px;
          padding-bottom: 12px;
        }

        padding: 0.2rem;
        transition: all .15s ease-in;
        // 내부 아이템 세로 중앙 정렬
        display: flex;
        display: -ms-flexbox;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;
    
        .weapon-img {
          background-color: white;
          border-radius: 0.4em;
          @include material-shadow(1, 0.5);
          padding: 2px;
          margin-right: 0.5rem;
          width: 44px;
          height: 44px;
    
          @include media("<medium") {
            margin-right: 0.2rem;
          }
    
          img {
            width: 40px;
            height: 40px;        
          }
        }
    
        .weapon-name {
          flex: 1;
          // width: 230px;
          @include media("<large") {
            // min-width: 230px;
          }
          color: $oc-blue-5;
          font-weight: bold;
        }
    
        .weapon-count {
          width: 60px;
          color: $oc-gray-9;
          font-weight: bold;
        }

        &:hover {
          // 호버 시 배경색 변경
          background: rgba($oc-blue-6, 0.05);
        }
      }

      .object + .object {
        border-top: 1px solid $oc-gray-3;
      }
    }
  }

  .best-weapon-hist {
    background-color: white;
    z-index: 1001;
    position: absolute;
    @include material-shadow(2, 2);
    line-height: 1.6rem;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;

    padding: 0.2rem;
    width: 200px;

    .hist-object-title {
      display: flex;
      display: -ms-flexbox;
      flex-wrap: wrap;
      align-content: center;
      justify-content: space-between;
      align-items: flex-start;

      .date {
        width: 70px;
        text-align: left;
      }

      .count {
        width: 40px;
        text-align: right;
      }
    }

    .hist-object {
      display: flex;
      display: -ms-flexbox;
      flex-wrap: wrap;
      align-content: center;
      justify-content: space-between;
      align-items: flex-start;

      .date {
        width: 70px;
        text-align: left;
      }

      .count {
        width: 40px;
        text-align: right;
      }
    }
  }
}