@import 'utils';

.plusup-grid {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 1rem;
  padding-right: 1rem;

  @include media("<small") {
    width: 100%;
    padding: 0.4rem;
  }

  .plusup-title {
    border-bottom: 1px solid $oc-gray-3;
    color: $oc-gray-8;
    font-size: 1rem;
    padding-bottom: 0.2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;
  }

  .plusup-body {
    display: flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    .plusup-grid-head {
      padding-bottom: 1rem;

      .plusup-where {
        display: flex;
        display: -ms-flexbox;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 10rem;
        // align-items: center;
  
        .armmor-dv {
          display: grid;
          display: -ms-flexbox;
          flex-wrap: wrap;
          grid-template-columns: repeat(3, 1fr);
          // grid-gap: 1.2rem;
        }
        .grade-dv {
          display: grid;
          display: -ms-flexbox;
          flex-wrap: wrap;
          grid-template-columns: repeat(3, 1fr);
          // grid-gap: 0.8rem;
        }
        .tier-dv {
          display: grid;
          display: -ms-flexbox;
          flex-wrap: wrap;
          grid-template-columns: repeat(3, 1fr);
          // grid-gap: 1.2rem;
        }
      }
    }
  
    .plus-up-grid-list {
      display: grid;
      display: -ms-flexbox;
      flex-wrap: wrap;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 0.8rem;
      padding-bottom: 1rem;
  
      @include media("<medium") {
        grid-template-columns: repeat(2, 1fr);
      }
  
      .plus-up-grid-object {
        font-weight: bold;
        
        .plus-up-text {        
          display: flex;
          display: -ms-flexbox;
          // justify-content: space-between;
          
          .plus-up-grade {
            width: 36px;
            color: $oc-gray-9;
          }
          .plus-up-value {
            width: 60px;
            color: $oc-red-9;
          }
          .plus-up-gitcount {
            width: 100px;
          }
        }
      }
    }
  }
}