@import 'utils';

.upgrade-cost {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  .upgrade-cost-title {
    padding-bottom: 0.6rem;
    border-bottom: 1px solid $oc-gray-3;
    color: $oc-gray-8;
    font-weight: bold;
  }

  .upgrade-cost-body {
    padding: 1rem;

    @include media("<small") {
      width: 100%;
      padding: 0.4rem;
    }

    .cost-head {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: space-between;
      align-items: center;
      width: 300px;

      .base-cost {
        font-weight: bold;
      }

      .tax {
        font-weight: bold;
        color: $oc-red-5;
      }
    }

    .cost-body {
      padding: 0.4rem;
    }

    .cost-footer {
      h3 {
        margin-top: 0.4rem
      }

      .tax-btns {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 0.4rem;
        
        button {
          transition: all .15s ease-in;
          background: white;
          border: 1px solid $oc-gray-3;
          width: 60px;
          height: 30px;
          border-radius: 0.2rem;
          cursor: pointer;      
        }
        button:hover {
          color: rgba($oc-blue-6, 0.8);
        }
        button:active {
          color: rgba($oc-blue-6, 1);
        }
        button:focus {
          border: 1px solid $oc-blue-6;
          color: rgba($oc-blue-6, 1);
        }

        button + button {
          margin-left: 0.2rem;
        }
      }
    }
  }
  
}