@import 'utils';

.upgrade-cost {
  padding: 1rem;

  @include media("<small") {
    width: 100%;
    padding: 0.4rem;
  }
  .upgrade-cost-title {
    padding-bottom: 1rem;
    border-bottom: 1px solid $oc-gray-3;
    color: $oc-gray-8;
  }

  .tax-btns {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 0.4rem;
    margin: 0.2rem;
  }
}