@import 'utils';
.not-found {
  height: 100vh;
  background: $oc-violet-9;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h2 {
    font-size: 1.5rem;
    color: white;
    font-weight: 400;
  }

  button {
    transition: all .15s ease-in;
    background: white;
    border: 1px solid $oc-gray-3;
    width: 80px;
    height: 30px;
    border-radius: 0.2rem;
    cursor: pointer;      
  }
  button:hover {
    color: rgba($oc-blue-6, 0.8);
  }
  button:active {
    color: rgba($oc-blue-6, 1);
  }
  button:focus {
    border: 1px solid $oc-blue-6;
    color: rgba($oc-blue-6, 1);
  }
}