@import 'utils';

.box-kinds{
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 1rem;
  padding-right: 1rem;

  @include media("<small") {
    margin-right: 0.2rem;
  }

  .box-kinds-title {
    border-bottom: 1px solid $oc-gray-3;
    color: $oc-gray-8;
    font-size: 1rem;
    padding-bottom: 0.2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;
  }

  .boxs {
    display: flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    .box {
      cursor: pointer;
      padding: 0.6rem;
      text-align: center;
      margin: 0 auto;

      .box_img {
        margin-top: 1rem;

        img {
          width: 60px;
          height: 50px;
        }
      }
    }

    .box-checked {
      cursor: pointer;
      padding: 0.6rem;
      text-align: center;
      margin: 0 auto;

      .box_img {
        margin-top: 1rem;

        img {
          width: 60px;
          height: 50px;
        }
      }

      @include material-shadow(1, 1);
      background: $oc-blue-0;
    }

    .box:hover {
      @include material-shadow(1, 1);
      background: $oc-blue-0;
    }
    .box:active {
      @include material-shadow(1, 1);
      background: $oc-blue-1;
    }
  }

  .notice {
    margin-top: 1rem;
  }
}