@import 'utils';

.box-simul {
  padding: 1rem;

  .box-kinds{
    .box-kinds-title {
      padding-bottom: 1rem;
      border-bottom: 1px solid $oc-gray-3;
      color: $oc-gray-8;
    }

    .boxs {
      .box {
        display: inline-block;
        padding: 1.6rem;
        margin: 2rem;
        text-align: center;
        border-radius: 20rem;

        .box_img {
          margin-top: 1rem;
        }
      }

      .box:hover {
        @include material-shadow(1, 1);
        background: $oc-blue-0;
      }
      .box:active {
        @include material-shadow(1, 1);
        background: $oc-blue-1;
      }
    }
  }
}